.page-bar {
    height: 45px;
}
.no-sort {
    padding-right: 8px !important;
}
.none-padding-right {
    padding-right: 0;
}
.step-bar {
    width: 100%;
    height: 5px;
    line-height: 5px;
    font-size: 5px;
    padding: 15px 0;
    div {
        background-color: #fff;
        float: left;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-right: 6px solid transparent;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
    .complete {
        background-color: #1caf9a;
    }
    .incomplete {
        background-color: #fff;
    }
}
.page-sidebar-menu {
    li {
        a {
            span {
                padding-left: 15px;
            }
        }
    }
}
.wrapper-panel {
    padding-left: 15px;
    .enroll-container {
        .padder {
            margin-bottom: 15px;
            .btnSend-wrapper {
                padding: 0 15px
            }
        }
    }
}
.dv-container-right {
    display: block;
    float: right;
    position: relative;
    .btn-action {
        transform: rotate(-90deg);
        position: absolute;
        top: 16px;
        left: -44px;
    }
    .media-body {
        a {
            display: block;
            position: relative;
            margin: 0;
            border: 0px;
            padding: 0 15px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 300;
            color: #555555;
            white-space: nowrap;
            &:hover, &:active, &:focus, &:visited {
                color: #555555;
            }
        }
    }
}
.action-close {
    width: 0;
}
.dv-container-left {
    display: block;
    margin-right: 175px;
    -ms-transition: margin-right 0.5s;
    -moz-transition: margin-right 0.5s;
    -webkit-transition: margin-right 0.5s;
    transition: margin-right 0.5s;
    position: relative;
    .action-btn {
        position: absolute;
        right: 0;
        top: -15px;
    }
    .upper-container {
        width: 100%;
        margin-top: 30px;
        .device-img {
            display: block;
            float: left;
            img {
                max-height: 88px;
            }
        }
        .device-info {
            display: block;
            float: left;
            margin-left: 15px;
            .device-spec {
                tr {
                    td {
                        padding: 0 30px 0 30px;
                    }
                }
                .dv-title {
                    color: #888;
                    margin-bottom: 0;
                }
                .dv-feature {
                    font-size: 14px;
                    font-weight: 300;
                    margin-bottom: 0;
                }
            }
        }
    }
    .lower-container {
        width: 100%;
        margin-top: 30px;
    }
    .select-column {
        margin: 0;
        display: inline-block;
        float: left;
        line-height: 34px;
        margin-right: 5px;
    }
    .select-wrapper {
        display: inline-block;
        float: left;
    }
}
.minimize-margin {
    margin-right: 15px;
}
#devices-table_wrapper {
    .row {
        &:after {
            clear: none;
        }
    }
}
.devices-ul {
    &:after {
        clear: left;
    }
}
.tab-wrapper {
    .main-left {
        width: 50%;
        display: block;
        float: left;
        padding-right: 30px;
    }
    .main-right {
        width: 50%;
        display: block;
        float: left;
        padding: 0 30px;
        .main-left-wrapper {
            padding: 15px 0;
        }
        .main-left-divider {
            padding: 15px 0;
            div {
                background-color: #ddd;
                height: 1px;
            }
        }
        .img-storage {
            display: block;
            float: left;
        }
        .main-spec {
            display: block;
            float: left;
            padding: 15px 0;
            tr {
                td {
                    padding: 0 30px 0 30px;
                }
            }
            .dv-title {
                color: #888;
                margin-bottom: 0;
            }
            .dv-feature {
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 15px;
            }
        }
    }
    .table-setting {
        margin-bottom: 15px;
        caption {
            border-bottom: 3px solid #26a69a;
            font-size: 14px;
            color: #333333;
        }
        width: 100%;
        tr {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            td {
                padding: 10px 15px;
            }
            &:first-child {
                border-top: none;
            }
        }
    }
    .table-main {
        margin-bottom: 15px;
        caption {
            border-bottom: 3px solid #26a69a;
            font-size: 14px;
            color: #333333;
        }
        width: 100%;
        tr {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            td {
                padding: 10px 15px;
            }
            &:first-child {
                border-top: none;
            }
        }
    }
    .table-event {
        margin-bottom: 15px;
        caption {
            border-bottom: 3px solid #26a69a;
            font-size: 14px;
            color: #333333;
        }
        width: 100%;
        tbody {
            tr {
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                td {
                    padding: 10px 15px;
                }
                &:first-child {
                    border-top: none;
                }
            }
        }
    }
    .table-app {
        margin-bottom: 15px;
        caption {
            border-bottom: 3px solid #26a69a;
            font-size: 14px;
            color: #333333;
        }
        width: 100%;
        thead {
            tr {
                th {
                    padding: 10px 15px;
                }
            }
        }
        tbody {
            tr {
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                td {
                    padding: 10px 15px;
                }
            }
        }
    }
}
#devices-table {
    thead {
        tr {
            .no-sort.sorting:after {
                display: none;
                cursor: default;
            }
            .no-sort.sorting_asc:after {
                display: none;
                cursor: default;
            }
            .no-sort.sorting_desc:after {
                display: none;
                cursor: default;
            }
        }
    }
}
.user-component {
    padding-right: 15px;
    li {
        padding: 0 10px;
        text-decoration: none;
        list-style: none;
        display: inline-block;
        float: left;
        a {
            text-decoration: none;
            line-height: 79px;
            &:hover, &:focus {
                text-decoration: none;
                color: #5b9bd1;
            }
        }
        span {
            line-height: 79px;
            color: #ffffff;
            &:hover, &:focus {
                color: #5b9bd1;
            }
        }
        &:hover, &:focus {
            text-decoration: none;
            list-style: none;
        }
    }
}
.select-column {
    position: absolute;
    right: -5px;
    top: -45px;
}
.actionarea {
    position: relative;
}
.btn-floating {
    position: absolute;
    right: 0;
    top: 0;
}
.dashboard-stat {
    padding: 0 50px;
    text-align: center;
    .visual-x {
        i {
            font-size: 96px;
            line-height: 96px;
            color: #ACB5C3;
            padding-bottom: 10px;
        }
    }
    .details-x {
        color: #666;
        .number {
            font-size: 34px;
            line-height: 36px;
            letter-spacing: -1px;
            font-weight: 300;
        }
        .desc {
            font-size: 16px;
            letter-spacing: 0px;
            font-weight: 300;
        }
    }
}

.menu-title {
    color: #374f64 !important;
    font-weight: bold !important;
}

.table-container {
    position: relative;
    .btn-clear-search {
        position: absolute;
        top: 9px;
        right: 6px;
        z-index: 999;
        cursor: pointer;
        outline: none;
        i {
            font-size: 16px;
            color: #cb5a5e;
            &:hover, &:focus {
                color: #c23f44;
            }
        }

    }
}